@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}

header>p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section.normal {
    background-color: rgba(255, 255, 255, 0.829);
    color: rgb(8, 8, 8);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem>p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 10px;
    text-shadow: 2px 2px 2px black;

}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer>p {
    font-size: 2vw;
}